body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Nanum Gothic", sans-serif;
}

* {
  user-select: none;
}

.midContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}

.mainText {
  font-size: 80px;
}

.grid {
  width: 750px;
  height: 750px;
  border: 2px solid;
  border-color: black;
  display: grid;

  grid-template-columns: repeat(16, auto);
}

.gridElement {
  align-items: center;
  justify-content: center;
  display: flex;
  border: 1px solid rgb(230, 230, 230);
}

.gridSelector {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  margin-bottom: 24px;
}

.slider {
  width: 300px;
}

.eraseButton {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.eraseBtn {
  width: 160px;
  height: 60px;
  font-size: 24px;
  background-color: white;
  transition: 0.1s;
}

.eraseBtn:hover {
  background-color: gray;
  width: 165px;
}

.eraseBtn:active {
  background-color: rgb(83, 83, 83);
}

/* SETTINGS MENU */
.leftContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 90px;
}

.settingsText {
  font-size: 32px;
}

.rainbowMode {
  font-size: 32px;
}

#rainbow {
  zoom: 2;
}

#color-picker {
  zoom: 1.5;
}

/* "RIGHT MENU" hidden */

.hidden {
  margin-left: 90px;
  opacity: 0;
}

.credits {
  display: flex;
  color: black !important;
  font-size: 18px;
}

a {
  text-decoration: none;
}

a:visited {
  color: black !important;
}

.fa-github {
  margin-left: 8px;
}
