body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 64px;
}

*{
    user-select:none;
}

.grid{
    width: 600px;
    height: 600px;
    border: 2px solid;
    border-color: black;
    display: grid;
    
    grid-template-columns: repeat(16,auto)


}

.gridElement{
    align-items: center;
    justify-content: center;
    display: flex;
    border: 1px solid black;
}

.painted{
    background-color: black;
}

.gridSelector{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}